aws_region             = "ap-south-1"
project_name           = "8byte-assignment"
environment            = "production"
image_tag              = "latest"
desired_count          = 2
db_instance_class      = "db.t4g.micro"
db_allocated_storage   = 20
db_multi_az            = false
backup_retention_days  = 1
alarm_email            = null
alb_access_logs_bucket = null
